<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
  	<!-- <%= link_to 'Friends App', root_path, class: "navbar-item" %> -->
    <a class="navbar-item" href="https://bulma.io">
      <%= show_svg('icon.svg') %>
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
    	<!-- <%= link_to 'Home' , root_path, class: "navbar-item" %> -->
      <%= link_to 'Friends', root_path, class: "navbar-item" %>
      <%= link_to 'About', home_about_path, class: "navbar-item"%>

    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">

          <% if user_signed_in? %>
            <%= link_to 'Add Friends', new_friend_path, class: "button is-warning" %>
            <%= link_to 'Sign Out', destroy_user_session_path, method: :delete , class: "button is-primary" %>
            <%= link_to 'Edit Profile', edit_user_registration_path , class: "button is-light" %>
          <% else %>
            <%= link_to 'Sign Up', new_user_registration_path , class: "button is-primary" %>
            <%= link_to 'Sign In', new_user_session_path , class: "button is-light" %>
          <% end %>
         <!--  <a class="button is-primary">
            <strong>Sign up</strong>
          </a>
          <a class="button is-light">
            Log in
          </a> -->
        </div>
      </div>
    </div>
  </div>
</nav>